/* font to Domine - FORRT preferred font available on Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');

.domine-<uniquifier> {
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body {
  background-color: #FEFDF6;
  font-family: "Domine", sans-serif; 
}

/* setting line height for table of contents */ 

.toc-content ul li a {
      line-height: 1.75; 
    }

/* formatting images */ 

.inline-figure { border: none; }

figcaption {
  margin: .5em;
  text-align: center;
}

.shadedbox {
  padding: 0.5em;
  background: #e0fbfc;
  color: #333333;
  border: 2px solid #98c1d9;
  border-radius: 5px;
  width: 80%;
}

.center {
  text-align: center;
}

/* gray ones used in Glossary to point to FORRT Glossary */

.shadedboxgray {
  padding: 0.5em;
  background: #e1edf0;
  color: #333333;
  border: 2px solid #98c1d9;
  border-radius: 5px;
  width: 80%;
}

.forrt-icon {
  background-image: url("assets/forrt-icon.png");
}

/* using html details tag for "Show / Hide Discussion" */

details {
/*    background-color: #0d6efd; */
      color: #212121; 
      padding: 10px;
      border: 1px solid #adb5bd;
    }

details > summary {
      color: #0d6efd; 
      font-weight: bold;
      cursor: pointer;
    }
    
details > summary {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}
